.card-pp {
    box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; 
    width: 300px;
    background: #fff;
    /* #81d4fa; */
}

.card-pp:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.column {
    float: left;
    width: 15%;
    margin-left: 108px;
}

h4 {
    margin-left: 5px;
    font-family: 'Poppins', sans-serif;
	font-weight: 100 !important;
	color: #000 !important;
}

p {
    margin-left: 5px;
    font-family: 'Poppins', sans-serif;
	font-weight: 400 !important;
	color: 000 !important;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

#add {
	left:50%;
	margin:-250px 0 0 -40%;
	opacity: 0;
	position:absolute;
	top:0%;
	visibility: hidden;
	width:80%;
	box-shadow:0 3px 7px rgba(0,0,0,.25);
	box-sizing:border-box;
	transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}
	/* Make the add appear when targeted */
	#add:target {
		opacity: 1;
		top:50%;
		visibility: visible;
	}
#add .header,#add  {
	border-bottom: 1px solid #e7e7e7;
	border-radius: 5px 5px 0 0;
}
	#add .cf-footer {
		border:none;
		border-top: 1px solid #e7e7e7;
        border-radius: 0 0 5px 5px;
        height: 50px;
	}
#add h2 {
	margin:0;
}
#add .btn {
	float:right;
}
#add .copy,#add .header, #add .footer {
	padding:15px;
}
.add-content {
	background: #77dd77;
	position: relative;
	z-index: 20;
    border-radius:5px;
    color: #fff;
}
#add .copy {
	background: #fff;
}

#add .overlay {
	background-color: #000;
	background: rgba(0,0,0,0.8);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}

#edit {
	left:50%;
	margin:-250px 0 0 -40%;
	opacity: 0;
	position:absolute;
	top:-50%;
	visibility: hidden;
	width:80%;
	box-shadow:0 3px 7px rgba(0,0,0,.25);
	box-sizing:border-box;
	transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
}
	/* Make the edit appear when targeted */
	#edit:target {
		opacity: 1;
		top:50%;
		visibility: visible;
	}
#edit .header,#edit  {
	border-bottom: 1px solid #e7e7e7;
	border-radius: 5px 5px 0 0;
}
	#edit .cf-footer {
		border:none;
		border-top: 1px solid #e7e7e7;
        border-radius: 0 0 5px 5px;
        height: 50px;
	}
#edit h2 {
	margin:0;
}
#edit .btn {
	float:right;
}
#edit .copy,#edit .header, #edit .footer {
	padding:15px;
}
.edit-content {
	background: #6ca6cd;
	position: relative;
	z-index: 20;
	border-radius:5px;
}
#edit .copy {
	background: #fff;
}

#edit .overlay {
	background-color: #000;
	background: rgba(0,0,0,0.8);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}
#edit input {
	border: 2px solid #6ca6cd;
}
#edit select {
	border: 2px solid #6ca6cd;
}


#delete {
	left:50%;
	margin:-250px 0 0 -40%;
	opacity: 0;
	position:absolute;
	top:-50%;
	visibility: hidden;
	width:80%;
	box-shadow:0 3px 7px rgba(0,0,0,.25);
	box-sizing:border-box;
	transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
}
	/* Make the delete appear when targeted */
	#delete:target {
		opacity: 1;
		top:50%;
		visibility: visible;
	}
#delete .header,#delete  {
	border-bottom: 1px solid #e7e7e7;
	border-radius: 5px 5px 0 0;
}
	#delete .cf-footer {
		border:none;
		border-top: 1px solid #e7e7e7;
        border-radius: 0 0 5px 5px;
        height: 50px;
	}
#delete h2 {
	margin:0;
}
#delete .btn {
	float:right;
}
#delete .copy,#delete .header, #delete .footer {
	padding:15px;
}
.delete-content {
	background: #f7675c;
	position: relative;
	z-index: 20;
	border-radius:5px;
}
#delete .copy {
	background: #fff;
}

#delete .overlay {
	background-color: #000;
	background: rgba(0,0,0,0.8);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}

#delete select {
	display: block;
    width: 100%;
    border: 2px solid #f7675c !important;
    padding: .5rem;
    font-size: 18px !important;
    border-radius: 5px;
    font-family: 'Poppins';
}

.show-more {
    padding: 7px 5px;
    background: #1e88e5;
    text-decoration: none;
    color: white;
    border: 0px solid #fff;
    border-radius: 8px;
    font-weight: 300;
}

.submission-form {
	margin-top: 10px !important;
}

  .submission-form label {
    display: block;
    padding: 1rem 0 .25rem;
    text-transform: uppercase;
    font-size: 14px;
    color: black;
    font-weight: 300;
  }
  .submission-form input{
    display: block;
    width: 100%;
    border: 2px solid #77dd77;
    padding: .5rem;
    font-size: 18px;
    border-radius: 5px;
    font-family: 'Poppins';
  }

  .submission-form select {
    display: block;
    width: 100%;
    border: 2px solid #77dd77;
    padding: .5rem;
    font-size: 18px !important;
    border-radius: 5px;
    font-family: 'Poppins';
  }

  .submission-form option {
    display: block;
    width: 100%;
    border: 2px solid #2980B9;
    padding: .5rem;
    font-size: 15px !important;
    border-radius: 5px;
    font-family: 'Poppins';
  }
  /* Create two equal columns that floats next to each other */
.two-column {
    float: left;
    width: 50%;
	padding: 10px;
}

/* Clear floats after the columns */
.two-row:after {
    content: "";
    display: table;
    clear: both;
}

.three-column {
    float: left;
    width: 33.33%;
}

/* Clear floats after the columns */
.three-row:after {
    content: "";
    display: table;
    clear: both;
}

input[value="Cancel"] {
    padding: 11px 10px !important;
    background-color: #e74c3c !important;
  box-shadow: 0px 5px 0px 0px #CE3323 !important;
    text-decoration: none !important;
    border: 0px solid #fff !important;
    border-radius: 8px !important;
    font-weight: 300 !important;
    margin-top: 12px !important;
    margin-right: 4px !important;
    color: #fff !important;
}
.close:hover {
	background-color: #FF6656 !important;
}

input[name="add"] {
    padding: 11px 10px !important;
    background: #55acee !important;
	text-decoration: none !important;
	box-shadow: 0px 5px 0px 0px #3C93D5 !important;
    border: 0px solid #fff !important;
    border-radius: 8px !important;
    font-weight: 300 !important;
    margin-top: 4px !important;
	margin-right: 4px !important;
	color: #fff !important;
		/* background-color: #55acee; */
}
.add:hover {
		background-color: #6FC6FF !important;
	  }

input[name="delete"] {
    padding: 11px 10px !important;
    background: #2ecc71 !important;
	text-decoration: none !important;
	box-shadow: 0px 5px 0px 0px #15b358 !important;
    border: 0px solid #fff !important;
    border-radius: 8px !important;
    font-weight: 300 !important;
    margin-top: 4px !important;
	margin-right: 4px !important;
	color: #fff !important;
		/* background-color: #55acee; */
}
.delete:hover {
		background-color: #48E68B !important;
	  }

input[value="Reset"] {
    padding: 11px 10px !important;
    background-color: #e67e22 !important;
  	box-shadow: 0px 5px 0px 0px #CD6509 !important;
  	border: 0px solid #fff !important;
    border-radius: 8px !important;
    font-weight: 300 !important;
    margin-top: 10px !important;
    margin-right: 4px !important;
    color: #fff !important;
}
.reset:hover {
	background-color: #FF983C !important;
  }

input[value="Lookup"] {
	background-color: #2ecc71 !important;
  	box-shadow: 0px 5px 0px 0px #15B358 !important;
  	border: 0px solid #fff !important;
  	border-radius: 8px !important;
  	font-weight: 300 !important;
  	margin-top: 10px !important;
  	margin-right: 4px !important;
  	color: #fff !important;
}

input[value="Lookup"]:hover {
	background-color: #48E68B !important;
}

input[value="Save"] {
	background-color: #2ecc71 !important;
  	box-shadow: 0px 5px 0px 0px #15B358 !important;
 	border: 0px solid #fff !important;
  	border-radius: 8px !important;
  	font-weight: 300 !important;
  	margin-top: 10px !important;
  	margin-right: 4px !important;
  	color: #fff !important;
}

.save:hover {
	background-color: #48E68B !important;
}

input[name="client"] {
	margin-top: 10px !important;
	color: #fff !important;
	font-family: 'Poppins' !important;
	font-size: 15px !important;
	margin-bottom: 0px !important;
	text-transform: uppercase !important;
	font-weight: 300 !important;
	background: #1e88e5 !important;
	border: 0px solid #fff !important;
	border-radius: 8px !important;
	max-width: 400px !important;
	text-align: center;
}

@media screen and (max-width: 600px) {
    .column {
        max-width: 100%;
    }

    .search-bar {
        width: 100px !important;
	}
}